<template>
  <form :action="FORM_URL">
    <div class="entrant" v-for="entrant in entrants" :key="entrant">
      <input
        type="radio"
        :name="ENTRY_ID"
        :value="entrant"
        :id="entrant"
      /><label :for="entrant">{{ entrant }}</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</template>

<script>
const FORM_URL =
  "https://docs.google.com/forms/u/0/d/e/1FAIpQLSdYzGtQUH7xXLFKfrZX2v5TURXjCAc3DlVZKmXUcBLAMPxs1w/formResponse";
const ENTRY_ID = "entry.823458440";

export default {
  data: () => ({
    FORM_URL,
    ENTRY_ID,
    entrants: ["Sam", "Definitely Sam", "Mr Beckham", "Martin"],
  }),
};
</script>
